@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
}
body{
    background-image: linear-gradient(to left, #b080b8, #f0a4ff,  #fff2d2 );
}
main{
    background-color: whitesmoke;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #54385b83;

}
h1{
    color: #B96AC9;
    text-align: center;
    text-shadow: 1px 1px 2px #6a2c76b3;
}
h2{
    color: #cdbd90;
    
}
p{
    text-align: justify;
    
}