*{
    margin: 0px;
    padding: 0px;
}

#cabecalho{
   background-color: black;  
    background-size: 100% 100%;
    text-align: center;

}

h1{
    color: white;
}
a:hover{
    text-decoration: underline;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}
.quadrado{
    color: white;
    text-align: center;
}

footer{
    background-color: black;
}

.texto-rodape{
    color: white;
    text-align: center;
}